{% extends 'base.html' %}
{% load static %}
{% block content%}
{% if post_category %}
<div alt="hero-img" style="background-image: url(../static/blog/images/digital-grid-bg.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%; height: 200px;">
    <h1 class="cats" style="color: white; padding-top: 30px;">&nbsp; &nbsp; {{ cats }}</h1>
</div>
<hr>

<div style="display: flex; justify-content: space-between; width: 100%; margin: 0 auto;">
    <ul style="list-style-type: none; width: 1300px; padding-left: 0px;">
        {% for post in post_category %}
        <li class="container">
            <div class="card text-bg-dark" style="margin-left: auto; margin-right: auto; margin-bottom: 30px; max-width: 600px; height: auto;">
                {% if post.images %}
                    <img class="card-img" src="{{ post.images.url }}" alt="post-image">
                {% else %}
                    <img src="{% static 'blog/images/62b9dc2d115c3.jpg' %}" class="card-img" alt="post-img">
                {% endif %}
                <div class="card-img-overlay" style="">
                    <a style="color: white;" href="{% url 'post_detail' post.pk %}"><h4 class="card-title">{{ post.title }} <small> - By: {{ post.author }}</small></h4></a>
                    <p class="card-text">{{ post.body|safe|slice:"100" }}...</p>
                    {% comment %} <p class="card-text" style="background-color: grey; max-width: max-content; padding: 5px; border-radius: 5px;"><small>{{ post.category }}</small></p> {% endcomment %}
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                            <small><a style="color: white;" href="{% url 'post_update' post.pk %}">(Edit)</a></small>
                            <small><a style="color: white;" href="{% url 'post_delete' post.pk %}">(Delete)</a></small><br>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% comment %} MAIN SECTION ENDS {% endcomment %}

    {% comment %} SIDEBAR {% endcomment %}

    
    <div class="sidebar container" style="border-left: 1px grey solid; margin-left: 20px; width: 410px;">
        <h2 style="text-align: center;">Recommended</h2>
        {% for post in post_list %}
            {% if post.category == "Random" %}
            <div class="side-content" style="display: flex;">
                {% if post.images %}
                    <img style="width: 100px; max-height: 100px; margin: 10px;" src="{{ post.images.url }}" alt="post-img">
                {% else %}
                    <img style="width: 100px; max-height: 100px; margin: 10px;" src="{% static 'blog/images/62b9dc2d115c3.jpg' %}" class="card-img" alt="post-img">
                {% endif %}
                <div style="margin: 10px;">
                    <a style="text-decoration: none; color: black;" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                </div>
            </div>
            <br>
            {% endif %}
        {% endfor %}
          <br><br>
        <div class="card" style="width: 18rem; margin: auto;">
            <div class="card-header">
                Categories
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% for item in category_menu %}
                      <a style="margin: 10px;" class="dropdown-item" href="{% url 'category' item %}">{{ item }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>


{% else %}
    <h1>Error 404: This page does not exist...</h1>
{% endif %}

{% endblock %}